.homeDoubleBanners {
    max-width: var(--fs-grid-max-width);
    margin: 0 auto 48px;
}

.homeDoubleBanners>div {
    display: flex;
    gap: 16px;
}

.homeDoubleBanners img {
    width: 100%;
}

@media (max-width: 1023px) {
    .homeDoubleBanners {
        padding: 0 16px;

        &>div {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}