.customIncentives>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 46px;
}

.customIncentives {
    padding: 29px 0;
    background-color: #F1F2F3;
}

.customIncentivesItem {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

.customIncentivesItem p {
    font-weight: 500;
    font-size: 16px;
    color: #313131;
    font-family: 'Montserrat';
}

@media (max-width: 1023px) {
    .customIncentivesItem {
        justify-content: center;
    }
}