.homeMiddleBanner {
    max-width: 1216px;
    margin: 0 auto 48px;
}

.homeMiddleBanner img {
    width: 100%;
}

@media (max-width: 1023px ){
    .homeMiddleBanner {
        padding: 0 16px;
    }
}