.customProductDetailsPrice {
    min-width: 260px;

    @media (max-width: 1023px) {
        min-width: initial;
    }

    .prices {
        display: flex;
        flex-direction: column;

        .listPrice {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 26.88px;
            letter-spacing: 0.16px;
            text-decoration: line-through;
            color: #171A1C;
        }

        .value {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 26.88px;
            letter-spacing: 0.16px;
            color: #171A1C;
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 1023px) {
                flex-direction: column-reverse;
                align-items: flex-start;
                margin-top: 4px;
            }

            strong {
                font-size: 24px;
                font-weight: 700;
                color: #0B55E2;
            }
        }
    }

    .installments {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 26.88px;
        letter-spacing: 0.16px;
        color: #171A1C;

        strong {
            font-weight: 600;
        }
    }

    .garantia {
        margin-top: 20px;
        color: #000;
    }

    .discountBadge {
        background: #00B230;
        color: #fff;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.16px;
        text-transform: uppercase;
        padding: 4px 8px;
        border-radius: 100px;
    }
}