.eachStore {
    max-width: var(--fs-grid-max-width);
    margin: 0 auto;

    iframe {
        min-width: 552px;
        height: 400px;

        @media(max-width: 1023px) {
            min-width: initial;
            width: initial;
        }
    }

    .whatsappButton {
        width: 255px;
        height: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        border-radius: 9999px;
        background-color: #22c55e;
        color: #fff;
        margin-bottom: 10px;
        font-size: 16px;
        cursor: pointer;
        font-weight: 600;
    }

    a {
        text-decoration: none;
    }

    .banner {
        margin-bottom: 45px;
        position: relative;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        min-height: 410px;
        background-color: #2563eb;

        img {
            width: 100%;
        }

        .bannerInfo {
            position: absolute;
            left: 30px;
            bottom: 50%;
            transform: translateY(50%);

            h2 {
                font-size: 1.125rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
                color: #fff;
            }

            h1 {
                font-size: 3.75rem;
                color: #fff;
                font-weight: bold;
                margin-bottom: 1rem;
                line-height: 1.2;
            }

            p {
                margin-bottom: 2rem;
                opacity: 0.9;
                font-size: 1.25rem;
                color: #fff;
            }

            div {
                display: flex;
                align-items: center;
                gap: 10px;

                a {
                    background: #3b82f6;
                    color: white;
                    display: inline-flex;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 0.5rem 1rem;
                    border-radius: 9999px;
                    font-weight: 600;
                    text-decoration: none;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    border: none;
                    white-space: nowrap;
                    font-size: 14px;
                }
            }
        }
    }
}

.storeInfo {
    display: flex;
    padding: 20px;
    background-color: #fff;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 1023px) {
        flex-direction: column;
    }

    p,
    h2 {
        color: #000;
    }

    h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        margin: 20px 0;
        font-weight: 700;
    }

    .middleInfo {
        h2 {
            font-size: 1.875rem;
            font-weight: bold;
            color: #1f2937;
            margin-bottom: 1.5rem;
        }

        p {
            font-weight: 400;
            margin: 16px 0;
            color: #6b7280;
            margin-bottom: 1rem;
            line-height: 1.6;

            strong {
                font-weight: 600;
                color: #1f2937;
                font-size: 28px;
                margin-bottom: 0.75rem;
            }
        }
    }
}

.rightInfo {
    min-width: 260px;
    display: flex;
    padding: 64px 52px;
    background-color: #2563eb;
    margin-top: 64px;

    @media(max-width: 1023px) {
        flex-direction: column;
    }

    .address {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .socials {
        display: flex;
        align-items: center;
        gap: 4px;

        img {
            max-width: 23px;
            max-height: 23px;
        }
    }

    .address p {
        line-height: 24px;
    }

    h2 {
        font-size: 1.875rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        color: #fff;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.8 !important;
        color: #fff;
    }

    .contact {
        @media (max-width: 1023px) {
            margin-top: 50px;
        }
    }

    .contact,
    .address {
        min-width: 544px;

        @media(max-width: 1023px) {
            min-width: initial;
        }
    }

    .contactWrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 10px;

        a {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #fff;
        }
    }
}

.storeImages {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;

    @media (max-width: 1023px) {
        flex-direction: column;
    }
}

@keyframes scroll-brands {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.brands-title {
    font-size: 2.25rem;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 2rem;
    text-align: center;

    @media(max-width: 1023px) {
        text-align: center;
        font-size: 1.875rem;
        text-wrap: wrap;
    }
}

.brands-scroll-wrapper {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 2rem 0;
    border-bottom: 1px solid #e5e7eb;
}

.brands-scroll-content {
    display: inline-flex;
    animation: scroll-brands 30s linear infinite;
}

.brands-scroll-content:hover {
    animation-play-state: paused;
}

.brand-icon {
    height: 50px;
    margin: 0 40px;
    display: inline-block;
    opacity: 0.7;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}

.brand-icon:hover {
    filter: grayscale(0);
    opacity: 1;
    transform: scale(1.1);
}

.highlightProducts {
    padding: 4rem 0;

    @media(max-width: 1023px) {
        padding: 4rem 20px;
    }

    h2 {
        font-size: 2.25rem;
        text-align: center;
        font-weight: bold;
        color: #1f2937;
        margin-bottom: 2rem;

        @media(max-width: 1023px) {
            text-align: center;
            font-size: 1.875rem;
            text-wrap: wrap;
        }
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #1f2937;
        margin-bottom: 1rem;
    }

    .cardsContainer {
        display: flex;
        gap: 3rem;
        justify-content: center;

        @media(max-width: 1023px) {
            flex-direction: column;
            align-items: center;
        }

        .imgContainer {
            border-radius: 0.5rem;
            margin-bottom: 1rem;
            overflow: hidden;
            max-height: 256px;
            width: 100%;
            height: 100%;
        }

        .card {
            max-width: 544px;
            min-width: 544px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media(max-width: 1023px) {
                min-width: initial;
                max-width: initial;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    a {
        padding: 1rem 2rem;
        font-size: 1.125rem;
        font-weight: 600;
        color: #fff;
        background: #6b7280;
        border-radius: 9999px;
        transition: .2s all ease-in-out;
        cursor: pointer;
        text-decoration: none;

        @media (max-width: 1023px) {
            text-align: center;
        }

        &:hover {
            background: #4b5563;
        }
    }
}