.buyTogether {
    background-color: #FAFAFB;
    padding: 40px 0;

    h2 {
        text-align: center;
        font-size: 36px;
        font-weight: 300;
        line-height: 46.8px;
        color: #727273;
        margin-bottom: 24px;
    }

    .wrapper {
        display: flex;
        align-items: center;
        max-width: var(--fs-grid-max-width);
        margin: 0 auto;
        gap: 20px;

        @media (max-width: 1023px) {
            flex-direction: column;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 22px;

            @media (max-width: 1023px) {
                flex-direction: column;
            }
        }

        .productsCount {
            font-size: 21px;
            font-weight: 500;
            line-height: 31.2px;
            color: #1e1e1e;
            margin: 0 0 16px;
            text-align: center;
        }

        .finalPrice {
            font-weight: 500;
            font-size: 28px;
            line-height: 46.8px;
            color: #010449;
            text-align: center;
        }

        .addToCartContainer {
            min-width: 291px;

            button {
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
                border-radius: 8px;
                background-color: #009e06;
                font-size: 16px;
                line-height: 31.2px;
                font-weight: 700;
                font-family: Montserrat;
                color: #fff;
                text-transform: uppercase;
                padding: 16px 30px;
                border: none;
                margin-top: 32px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                width: 100%;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: #148b2e;
                }
            }
        }
    }
}