.homeMusicTaste {
    max-width: var(--fs-grid-max-width);
    margin: 0 auto 48px;

    .homeMusicTasteList {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(2, 193px);
        gap: 16px;
    }

    .homeMusicTasteItem {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-weight: 700;
            font-size: 32px;
            line-height: 32.48px;
            letter-spacing: 0.16px;
            text-transform: uppercase;
            color: #fff;
            position: absolute;
            bottom: 16px;
            left: 16px;
        }
    }

    .homeMusicTasteItem1 {
        grid-column: 1 / 2;
        /* primeira coluna */
        grid-row: 1 / 3;
        /* ocupa duas linhas */
    }

    .homeMusicTasteItem2,
    .homeMusicTasteItem3,
    .homeMusicTasteItem4,
    .homeMusicTasteItem5 {
        max-width: 369px;
        min-width: 369px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .homeMusicTasteItem2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .homeMusicTasteItem3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .homeMusicTasteItem4 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .homeMusicTasteItem5 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}

@media (max-width: 1023px) {
    .homeMusicTasteList {
        padding: 0 16px;
        display: flex !important;
        flex-direction: column;
        max-width: 100%;

        img {
            width: 100%;
        }

        .homeMusicTasteItem2,
        .homeMusicTasteItem3,
        .homeMusicTasteItem4,
        .homeMusicTasteItem5 {
            max-width: initial;
            min-width: initial;

            img {
                height: auto;
            }
        }
    }
}